.bg-secondary {
    background-color: #f2f2f2 !important;
}

.btn {
    padding: 0.75rem 1.25rem;
}

.btn-primary {
    background: #445EE6 !important;
}

.text-dark {
    color: #333333 !important;
}

a {
    text-decoration: none !important;
}

.left-0 {
    left: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.border-hover {
    border: 0px;
}

.border-hover:hover {
    border: 1px solid #445EE6;
}


.svg-container {
    height: 70vw;
    position: relative;
}

.svg-shirt {
    position:absolute;
    left:0;
    right:0;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    /* width: 100%;
    height: auto; */
    /* height: 100%; */
    width: 100%;
    mix-blend-mode: multiply;
}

.svg-image {
    position:absolute;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
    /* width: 100%;
    height: auto; */
    /* height: 100%; */
    width: 100%;
    z-index: 1;
}